@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}



.carousel {
  /* margin-top: 7%; */
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Target the slides using :target */
#slide1:target ~ .slides {
  transform: translateX(0%);
}

#slide2:target ~ .slides {
  transform: translateX(-100%);
}

#slide3:target ~ .slides {
  transform: translateX(-200%);
}

/* Navigation buttons */
.nav-buttons {
  height: 10;
  width: 10;
  position: absolute;
  bottom: 30px;
  right: 25px;
  display: flex;
  gap: 5px;
}

.nav-buttons i {
  font-size: 20px;
}

.nav-buttons a {
  text-decoration: none;
  background: rgb(242, 184, 53); ;
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 5px;
  transition: 0.3s;
}

.nav-buttons a:hover {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}
.yellow-bar{
  display: flex;
  width: 100%;
  height: 30px; 
  background-color: rgb(242, 184, 53); 
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  align-items: center;
  justify-content: center;
  
}

.yellow-bar p{
  font-family: "Inter", sans-serif;
  align-items: center;
  
}
.wrapper{
  background: #343434;
  position: relative;
  width: 100%;
  z-index: 1002;
}

.logo img {
    height: 80px; 
    width: auto; 
    display: block; 
    object-fit: contain; 
}

.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
 
  display: flex;
}

/* image continuously slider */

.slider-container {
  width: 100%;
  place-items: center;
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  background: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
}


#slider-item-containers{
  margin: 0 80px;
  width: max-content;
  justify-content: space-evenly;
}
.slider {
  display: flex;

  gap: 10px;
  animation: slide 20s linear infinite;
}

.slider-item {
  flex-shrink: 0;
  min-width: 150px; 
  padding: 10px;
  background: #ddd;
  border-radius: 5px;
  text-align: center;
}

.images-item-container {
  display: flex;
  align-items: center; 
  gap: 5px;
  cursor: pointer;
}

.slider img {
  
  margin-right: 5px;
  flex-shrink: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(-30%); /* Crucial change! */
}
}


.slider-container:hover .slider {
  animation-play-state: paused;
}

.content .links li{
  list-style: none;
  line-height: 100px;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #343434
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.wrapper input[type="checkbox"]{
  display: none;
}
.nav-icons i {
    font-size: 30px; 
    color: #fff; 
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-icons {
    display: flex;
    gap: 25px;
    color: #fff;
}

.nav-icons a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
}


/* Shop 1 style */


.dropdown-grid {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: #343434;
    padding: 20px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.grid-item {
    padding: 5px;
    background: #343434;
    text-align: center;
}

.grid-item a {
    text-decoration: none;
    color: #343434;
}

/* items section style................................. */

.items-container{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 30px 0;
  align-items: center;
}

.heading-container{
  
  text-align: center;

}

.head-description{
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

strong{
  font-weight: bolder;
  font-style: italic;
}
.heading-text{
  padding: 0 0 20px 0;
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

/* Shop product button style */


.explore-button {
  display: inline-block;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  background-color: #000000; 
  color: #f2b835;
  border: none;
  padding: 12px 16px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 0.5rem; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  margin-top: 15px; 
  text-align: center;
  text-transform: uppercase;
}

.explore-button:hover{
  color: #f1c151;
}

.content .links ul{
  position: absolute;
  background: #343434;
  top: 80px;
  padding-top: 40px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}


/* Detail section */

.detail{
  background-color: rgb(229, 231, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 30px 0;
  align-items: center;
}

.featured-text{
  padding: 0 0 20px 0;
   font-size: 34px;
   font-weight: 500;
   text-transform: uppercase;
   color: #292929;
}


/* Product slider style */

.product-slider-container {
  width: 100%;
  place-items: center;
  margin: 30px 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.product-slider {
  
  display: inline-block;
  white-space: nowrap;
  animation: scroll 30s linear infinite;

}

.pro-slide {
  display: inline-block;
  margin: 0 15px;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 70vh;
}

.pro{
  height: 50vh;
  width: 100%;
  /* border-radius: 10px; */
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

#slide-up{
  padding-top: 20px;
}

.pro img{
  width: 40vh;
  height: 50vh;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  /* border-radius: 10px; */
}

.price-tag{
  margin-top: 10px;
  color: #f2b835;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  
}
.pro:hover{
  transform: scale(1.1); 
  height: 50vh;

}


.product-slider-container:hover .product-slider {
  animation-play-state: paused;
 
}
.nav-buttons a {
  text-decoration: none;
  background: rgb(242, 184, 53);
  color: rgb(0, 0, 0);
  padding: 5px 10px 5px 0;
  border-radius: 3px;
  transition: 0.3s;
  size: 20px;
}


.slide-text {
  margin-top: 30px; 
  font-size: 18px;
  color: #000000; 
  position: relative;
  width: 40vh;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  overflow-wrap: break-word;
}

.pro-nav-buttons{
  margin-right: 15px;
}

@keyframes scroll {
  0% {
      transform: translateX(10%);
  }
  100% {
      transform: translateX(-30%); 
  }
}

/* product items grid section style...................................... */
    /* Grid Container */
    .product-grid-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr); /* 6 items per row */
      gap: 20px;
      padding: 20px;
      max-width: 1200px;
      margin: auto;
    }

    /* Grid Item */
    .product-grid-item {
      text-align: center;
      padding: 20px;
  
      border-radius: 20px;
      transition: transform 0.3s ease-in-out;
    }

    /* Icon Styling */
    .product-grid-item img {
      
      color: #f2b835;
      margin-bottom: 10px;
      height: 15vh;
    }

    /* Text */
    .product-grid-text {
      font-size: 18px;

      color: #333;
      font-family: "Inter", sans-serif;
    }

    .product-list-item{
        text-align: center;
    }

/* Video section container style */

    .video-section-container{
      display: flex;
      height: auto;
      background-color: rgb(229, 231, 235);
    }

    .social-section{
      width: 100%;
      display: flex;
    }
    .video-conatiner{
      width: 850px;
      height: 500px;
      margin: 60px 40px;
    }

    .social-page-container{
      width: 460px;
      height: 500px;

      display: flex;
 
      margin: 60px 12px 60px 0;
    }
    .fb-banner {
      position: relative;
      display: inline-block;
      width: 100%; 
      max-width: 600px; 
  }

  .banner-image {
    width: 100%;
    height: 130px;
    display: block;
}

    .overlay-image {
      position: absolute;
      top: 37px; 
      left: 37px; 
      transform: translate(-50%, -50%); 
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
      width: 60px;

  }

  .fb-title{
    position: absolute;
    top: 20px; 
    left: 123px; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
    font-family: "Inter", sans-serif;
  }

  .fb-title-link :hover{
    text-decoration: underline; 
    
  }

  .fb-followers{
    text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
    font-family: "Inter", sans-serif;
    color: white;
    position: absolute;
    top: 40px; 
    left: 117px; 
    transform: translate(-50%, -50%); 
    font-size: 12px;
  }

  .fb-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}

.follow-page-button{

  border: 1px solid rgba(0, 0, 0, 0.5); 
  transform: scale(0.5);
  position: absolute;
  top: 112px; 
  left: 57px; 
  font-weight: 500;
  transform: translate(-50%, -50%); 
  display: flex;
  padding: 5px 9px;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
}

.follow-page-section :hover{
  cursor: pointer;

}

.fb-icon{
  height: 14px;
  width: 14px;
  margin-right: 4px;
}

.share-page-button{

  border: 1px solid rgba(0, 0, 0, 0.5); 
  transform: scale(0.5);
  position: absolute;
  top: 112px; 
  left: 402px; 
  font-weight: 500;
  transform: translate(-50%, -50%); 
  display: flex;
  padding: 5px 9px;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
}

#share-icon{
  height: 14px;
  width: 14px;
  margin-right: 1px;
}

/* Responsive code start */


@media screen and (max-width: 1920px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 50px;
  }
  

  .carousel {
    /* margin-top: 100px; */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Target the slides using :target */
  #slide1:target ~ .slides {
    transform: translateX(0%);
  }
  
  #slide2:target ~ .slides {
    transform: translateX(-100%);
  }
  
  #slide3:target ~ .slides {
    transform: translateX(-200%);
  }

  
  
  .nav-buttons a:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }

  nav .content .links{
    /* margin-left: 250px; */
  }
  .content .links li a{
    padding: 8px 13px;
  }

  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }

  .nav-icons {
      display: flex;
      gap: 20px;
  }
  
  .nav-icons a {
      color: #333;
      font-size: 20px;
      text-decoration: none;
  }
  
}


@media screen and (max-width: 1440px){
    .wrapper nav{
      max-width: 100%;
      padding: 0 50px;
    }
    

    .carousel {
      /* margin-top: 100px; */
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
    }
    
    .slides {
      display: flex;
      width: 100%;
      transition: transform 0.5s ease-in-out;
    }
    
    .slide {
      width: 100%;
      flex-shrink: 0;
    }
    
    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    
    #slide1:target ~ .slides {
      transform: translateX(0%);
    }
    
    #slide2:target ~ .slides {
      transform: translateX(-100%);
    }
    
    #slide3:target ~ .slides {
      transform: translateX(-200%);
    }
    
    /* Navigation buttons */
    .carousel-nav-button {
      height: 25;
      width: 2;
      position: absolute;
      bottom: 25px;
      right: 25px;
      display: flex;
      gap: 5px;
    }

    .pro-nav-buttons{
      height: 10;
      width: 10;
      position: absolute;
      bottom: 0px;
      right: 25px;
      display: flex;
      gap: 5px;
    }

    .nav-button{
      border: 0 solid transparent;
      height: 40px;
      width: 40px;
      gap: 30px;
      border-radius: 10px;
      background-color: rgb(242, 184, 53);;
    }
    .nav-button i{

      text-decoration: none;
      color: rgb(0, 0, 0);
      padding: 5px 5px;
      border-radius: 3px;
      transition: 0.3s;
      size: 20px;
    }

    .nav-buttons i {
      font-size: 20px;
    }
    
    
    .nav-button i:hover{

      color: white;
    }

    .nav-button:hover {
      background: rgba(0, 0, 0, 0.9);
      color: white;
      
    }
    .content .links li a{
      padding: 8px 13px;
    }

    .wrapper .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }

    .nav-icons {
        display: flex;
        gap: 20px;
    }
    
    .nav-icons a {
        color: #333;
        font-size: 20px;
        text-decoration: none;
    }


    /* items section style */

    .item-container{
      background-color: rgb(229, 231, 235);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 0 30px 0;
      align-items: center;
    }
    
  }


@media screen and (max-width: 1240px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }

  .carousel {
    /* margin-top: 7%; */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Target the slides using :target */
  #slide1:target ~ .slides {
    transform: translateX(0%);
  }
  
  #slide2:target ~ .slides {
    transform: translateX(-100%);
  }
  
  #slide3:target ~ .slides {
    transform: translateX(-200%);
  }
  
  /* Navigation buttons */
  .nav-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
  }
  
  .nav-buttons a {
    text-decoration: none;
    background: yellow;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
  }

  .nav-buttons i {
    font-size: 15px;
  }
  
  .nav-buttons a:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }
  nav .content .links{
    /* margin-left: 200px; */
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }


  /* product item grid style */

  .product-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 items per row */
    gap: 20px;
    padding: 20px;
    width: 100%;
    margin: auto;
  }

  .product-grid-container {
    grid-template-columns: repeat(6, 1fr);
  }

      /* Icon Styling */
      .product-grid-item img {
        margin-bottom: 10px;
        height: 10vh;
      }

}
@media screen and (max-width: 900px){


  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #343434;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: #343434;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #shop:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }


  .carousel {
    /* margin-top: 7%; */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    width: 100%;
    flex-shrink: 0;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Target the slides using :target */
  #slide1:target ~ .slides {
    transform: translateX(0%);
  }
  
  #slide2:target ~ .slides {
    transform: translateX(-100%);
  }
  
  #slide3:target ~ .slides {
    transform: translateX(-200%);
  }
  
  /* Navigation buttons */
  .nav-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
  }
  
  .nav-buttons a {
    text-decoration: none;
    background: yellow;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
  }

  .nav-buttons i {
    font-size: 15px;
  }
  
  .nav-buttons a:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }


  .product-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }

  /* product items grid container */

  
  .product-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
